*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(150deg, #4f9ea3, #397dd6);
    height: 100vh;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
}
button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: rgba(97, 96, 96, 0.8);
    color: #fff;
}
button:hover{
    background-color:rgba(61, 60, 60, 0.8) ;;
}
.tela{
    background: #fff;
    height: 30px;
    color: black;
    font-size: 25px;
    text-align: end;
    margin: 3px;
}

